MyStruct2 = {
    MyMap = {
        1= test,
        2= test2,
        3= test3
    }
    tururur = {
        test1 = "testvalueInNestedStructure"
    }
}

planB = {
    test1 = "testValueByNodeInTag"
}

planC = {
    tururu = {
        tratatat = {
            planZ = {
                Field1 = "testValueByTest"
            }
        }
    }
}

TestHocon = {
    myField1 = ["test1","test2"]
    myMap = {
        "test1": 1,
        "test2": 2
    }
    myBaseType = 1
}